* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
}

:root {
    --marron1: #271301;
}


/*Estilos Buttones*/

button {
    float: center;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

#row-backcolor {
    background-color: #ffcb85;
}


/*Containers*/

.containerLoginDer {
    height: 100%;
}


/*Estilos*/

.cuadro_login {
    margin-top: 3%;
    width: 650px;
    height: 500px;
    border: 5px solid #D4233F;
    background: #E7E2CB;
}

.cuadro_control_sala {
    height: 924px;
    width: 650px;
    border: 5px solid var(--marron1);
    background: #EDC696;
    border-color: #271301;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cuadro-figura {
    height: 350px;
    width: 650px;
    border: 5px solid var(--azul1);
    background: #c1b4d1;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


/*
.logout_salas {
    float: right;
}*/

.login {
    background-image: url("../img/img_login.jpg");
}

.control_sala {
    background-image: url("../img/img_control_sala.jpg");
}

.fondosala2 {
    background-image: url("../img/img_reserva.jpg");
}

.fondosala4 {
    background-image: url("../img/img_reserva.jpg");
}

.fondosala6 {
    background-image: url("../img/img_reserva.jpg");
}

.fondosala8 {
    background-image: url("../img/img_reserva.jpg");
}

.fondosala10 {
    background-image: url("../img/img_reserva.jpg");
}

.fondoreservado {
    background-image: url("../img/img_reserva.jpg");
}

.formulario_login {
    padding: 6%;
}

.inputlogin {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #D4233F;
    background-color: #e6dbd5;
    outline: none;
}

.inputfiltro {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #4D9C87;
    background-color: #F7F6FB;
    outline: none;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.botonlogin {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: palevioletred;
    background-color: blanchedalmond;
}

.botonessala {
    width: 200px;
    height: 45px;
    border-radius: 7px;
    border-color: whitesmoke;
    background-color: violet;
}

.botonhistorial {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: whitesmoke;
    background-color: violet;
}

.botongeneral {
    width: 150px;
    height: 45px;
    border-radius: 7px;
    border-color: #4D9C87;
    background-color: #F7F6FB;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    color: black;
}

.botongeneral:hover {
    background: #4D9C87;
    color: #fff !important;
}

.botonlogin {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #D4233F;
    background-color: #e6dbd5;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
}

.botonlogin:hover {
    background: #D4233F;
    color: #fff !important;
}

.botonloginvolver {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: #1564cc;
    background-color: #e6dbd5;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
}

.botonloginvolver:hover {
    background: #1564cc;
    color: #fff !important;
}

.botonhistorial {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: whitesmoke;
    background-color: violet;
}

.botoneliminar {
    width: 150px;
    height: 45px;
    border-radius: 7px;
    border-color: #D4233F;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    color: black;
}

.botoneliminar:hover {
    background: #D4233F;
    color: #fff !important;
}

.botonmodif {
    width: 150px;
    height: 45px;
    border-radius: 7px;
    border-color: #1564cc;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    color: black;
}

.botonmodif:hover {
    background: #1564cc;
    color: #fff !important;
}

.botonfiltro {
    width: 150px;
    height: 45px;
    border-radius: 7px;
    border-color: #4D9C87;
    background-color: #F7F6FB;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    color: black;
}

.botonfiltro:hover {
    background: #4D9C87;
    color: #fff !important;
}

.mensajelogin {
    color: red;
    font-size: 20px;
    text-decoration: underline;
}

.column-3 {
    float: left;
    width: 33.3%;
}

.column-2 {
    float: left;
    width: 50%;
}

.column {
    float: left;
    width: 100%;
    height: 16.7%;
}

.btnsala {
    width: 100%;
    height: 200px;
    background-color: #e9cfaed8;
    border-style: outset;
    border-radius: 5px;
    border-color: #271301d5;
}

.btnsala:hover {
    background-color: #D79E4D
}

.imgmesa {
    width: 200px;
    height: 200px;
}