/*Estilos globales*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#row-backcolor {
    background-color: #ffcb85;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.imgmesa {
    width: 200px;
    height: 200px;
}


/*Estilos login*/

.login {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../img/img_login.jpg");
}

.contenidosLogin table {
    height: 100%;
    width: 100%;
    margin-top: 100px;
    padding-right: 60px;
}

.contenidosLogin td {
    width: 50%;
    height: 100%;
}

.cuadro_login {
    height: 500px;
    width: 700px;
    border: 7px solid #724E2D;
    background: #724e2de7;
    padding-top: 10px;
}

.h1_login {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
}

.input_login {
    width: 250px;
    height: 45px;
    font-size: 15px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: white;
    outline: none;
}

.boton_login {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
}

.boton_login:hover {
    background: saddlebrown;
    color: #fff !important;
}


/*FIN estilos login*/


/*Estilos control sala*/

.control_sala {
    width: 100%;
    height: 100%;
    background-image: url("../img/img_control_sala.jpg");
}

.cuadro_control_sala {
    height: auto;
    width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 5px solid rgb(46, 21, 3);
    background: #EDC696;
}

.column-2 {
    float: left;
    width: 50%;
}

.column {
    float: left;
    width: 100%;
    height: 16.7%;
}

.boton_control_sala {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border-style: outset;
    border-color: #271301d5;
    background-color: #e9cfaed8;
    font-size: 15px;
    transition: all 0.5s ease;
    position: relative;
}

.boton_control_sala:hover {
    background: saddlebrown;
    color: #fff !important;
}

.h1_control_sala {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
}


/*FIN estilos control sala*/


/*Estilos Salas*/

.sala {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../img/img_sala.jpg");
}

.contenedor_botones_principales_sala {
    height: 100%;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

.boton_sala {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: #e9d0ae;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
}

.boton_sala:hover {
    background: saddlebrown;
    color: #fff !important;
}

.cuadro_sala {
    height: 400px;
    width: auto;
    background: #e9d0ae;
    border: 5px solid saddlebrown;
    align-items: center;
    align-content: center;
    text-align: center;
}

.tabla_sala {
    width: 100%;
    height: 100%;
}

.h1_sala {
    padding-top: 120px;
    font-size: 30px;
}

.select_sala {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: rgba(153, 93, 50, 0.712);
    outline: none;
    font-size: 15px;
}

.boton_confirmar_sala {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: #e9d0ae;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
}

.boton_confirmar_sala:hover {
    background: saddlebrown;
    color: #fff !important;
}

.fondo_sala {
    background-image: url("../img/img_sala.jpg");
    overflow: hidden;
}


/*FIN estilos sala*/


/*Estilos reserva*/

.reserva {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../img/img_reserva.jpg");
}

.cuadro_reserva {
    min-height: 200px;
    width: 1000px;
    background: #e9d0ae;
    border: 5px solid saddlebrown;
    align-items: center;
    align-content: center;
    text-align: center;
}

.tabla_reserva {
    width: 100%;
    height: 100%;
}

.boton_eliminar_reserva {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: #e9d0ae;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_eliminar_reserva:hover {
    background: red;
    color: #fff !important;
}


/*FIN estilos reserva */


/*Estilos gestion users*/

.cuadro_users {
    height: auto;
    width: auto;
    background: #e9d0ae;
    margin-left: 30px;
    margin-right: 30px;
    border: 5px solid saddlebrown;
    align-items: center;
    align-content: center;
    text-align: center;
}

.tabla_users {
    width: 100%;
    height: 100%;
}

.boton_modificar_user {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: #e9d0ae;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_modificar_user:hover {
    background: cadetblue;
    color: #fff !important;
}

.boton_eliminar_user {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: #e9d0ae;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_eliminar_user:hover {
    background: red;
    color: #fff !important;
}

.boton_filtrar_user {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: #e9d0ae;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_filtrar_user:hover {
    background-color: saddlebrown;
    color: #fff !important;
}

.input_filtro {
    width: 250px;
    height: 45px;
    font-size: 15px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: white;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
}


/*FIN gestion users*/


/*Estilos gestion mesas*/

.cuadro_mesas {
    height: auto;
    width: auto;
    background: #e9d0ae;
    margin-left: 30px;
    margin-right: 30px;
    border: 5px solid saddlebrown;
    align-items: center;
    align-content: center;
    text-align: center;
}

.tabla_mesas {
    width: 100%;
    height: 100%;
}

.boton_modificar_mesa {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: #e9d0ae;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_modificar_mesa:hover {
    background: cadetblue;
    color: #fff !important;
}

.boton_eliminar_mesa {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: saddlebrown;
    background-color: #e9d0ae;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_eliminar_mesa:hover {
    background: red;
    color: #fff !important;
}


/*Fin estilos mesa*/


/*Estillos formularios mesa user*/

.cuadro_formulario_mesa_user {
    height: 300;
    width: 600px;
    background: #e9d0ae;
    margin-top: 100px;
    margin-left: 300px;
    border: 5px solid saddlebrown;
    align-items: center;
    align-content: center;
    text-align: center;
}